.idea
venv
Logs/main.txt
Logs/controller.txt

tests/.pytest_cache
.pytest_cache

keys.db
keys2.db
data/Cloned/Temp.html
data/Fishing
modules/Attack/__pycache__
tests/__pycache__
utils/__pycache__
Setup/__pycache__
**/__pycache__/